## Importing Python Libraries

In [1]:
import pandas as pd

## Load the Dataset

In [2]:
# Load the dataset
df = pd.read_excel('../Crash_data/October.xlsx')
df = df.drop_duplicates()
df.drop('Seed', axis=1, inplace=True)

# Renaming columns to EN pattern
df.rename(columns={'Cor':'Color', 'Data':'Date'}, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23591 entries, 0 to 23999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Color   23591 non-null  object
 1   Crash   23591 non-null  object
 2   Date    23591 non-null  object
dtypes: object(3)
memory usage: 737.2+ KB

In [3]:
df.dtypes

Color    object
Crash    object
Date     object
dtype: object

In [4]:
# Manipulating variables
df['Crash'] = df['Crash'].str[:-1].astype(float)
df['Day'] = df['Date'].str[:2].astype(int)
df['Hour'] = df['Date'].str[-11:-9].astype(int)
df['Minute'] = df['Date'].str[-8:-6].astype(int)
df['Second'] = df['Date'].str[-5:-3].astype(int)

df.drop('Date', axis=1, inplace=True)

# Changing Color String to Numbers
df['Color'] = df['Color'].map({'Good':1, 'Bad':0})
df.head()

   Color   Crash  Day  Hour  Minute  Second
0      1    3.18   21    11      35      36
1      0    1.06   21    11      35       6
2      1    2.30   21    11      34      56
3      1  746.12   21    11      34      31
4      1   14.25   21    11      32      30

In [7]:
# df.to_csv('../Crash_data/clean_october.csv')
df.head()

    Cor  Crash Day Hour Minute Second
0   Bad   1.94  30   23     59     42
1  Good   6.69  30   23     59     22
2   Bad   1.36  30   23     58     42
3  Good   2.61  30   23     58     27
4  Good   8.90  30   23     58     02